h1 {font-size: 30px;}

body {background-color: #282D35;}

nav {
    background-color: #21222A;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 27px;

}

.logo {font-size: 30px;
      display: flex;
      align-items: center;
      color: #00D8FF;}

span {font-size: 17.25px;
     font-weight: 600;
     color: #61DAFB;}
     
.nav-item {color: white;
          font-size: 10px;}     

main {padding: 10px 27px;
     display: flex;
    column-gap: 1000px;
   align-items: center;
   }

 
   


h1 {color: white;}

li {color: #61DAFB}

li span {color: white;
        font-weight: 300;
         font-size: 15px;}

.logo2{font-size: 30px;}






 @media all and (min-width:319px) and (max-width: 375px) {
            /* put your css styles in here */
            .logo {font-size: 20px;
                display: flex;
                align-items: center;
                color: #00D8FF;}
          
          span {font-size: 12.25px;
               font-weight: 600;
               color: #61DAFB;}
               
          .nav-item {color: white;
                    font-size: 8px;}     
          
          main {padding: 10px 27px;} 
          
          h1 {color: white;
             font-size: 25px;}
          
          li {color: #61DAFB}
          
          li span {color: white;
                  font-weight: 300;
                   font-size: 12px;}
          
          }         
